.pcIndex{
  width: 80%;
  padding: 10px 10%;
}
.pcIndex_head{
  width: 100%;
  margin: 80px 0;
  text-align: center;
}
.pcIndex_head img{
  width: 40%;
}
.pcIndex_left{
  float: left;
}
.pcIndex_main{

}
.pcIndex_main p{
  font-size: 18px;
  line-height: 30px;
}
.pcIndex_bottom{
  /* border: 1px solid red; */
}
.pcIndex_bottom p{
  font-size: 14px;
  margin-top: 10px;
}
.pcIndex_right{
  float: right;
  text-align: center;
}
.pcIndex_right img{
  width: 150px;
}
.pcIndex_right p{
  font-size: 14px;
}
